html(lang="en")
    head
        script.
            var calcFontSize = function () {
                var dWidth = window.innerWidth;
                var fontSize;
                if (dWidth > 1024) {
                    fontSize = dWidth / 1440;
                }
                else if (window.innerHeight > window.innerWidth) {
                    fontSize = (dWidth / 375) * (window.innerWidth / window.innerHeight < 0.22 ? 1 : 0.8);
                }
                else {
                    fontSize = dWidth / 667 * (window.innerHeight / window.innerWidth < 0.22 ? 1 : 0.8);
                }
                document.getElementsByTagName('html')[0].style.fontSize = '' + fontSize + 'rem';
            };
            calcFontSize();
            window.onresize = calcFontSize;
        title Credentials
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500")
        link(rel="stylesheet" href="main.css")
    body
        .container-fluid.flex-parent
            include ../modules/header
            button.foo-button mdc-button
            .row.margin-fixed.flex-content
                .col-xl-4.col-lg-5.col-md-6.col-12.left-bar
                    .left-padding
                        .left-bar__cont-width
                            h1.title
                                | Credentials
                            p.subtitle
                                | Please provide your license information below for your profile "Dasha".
                                | A Thumbtack team member will check the license information you provide
                                | against the states public licensing database. If we are able to locate
                                | the license under your name and business, we will display the license
                                | information on your profile.
                .col-xl-6.col-lg-5.col-md-6.col-12.right-bar.offset-md-0.offset-lg-1
                    .right-padding
                        .row
                            .col-12.col-xl-6.name
                                h3.title3
                                    | Add a professional license
                                p.subtitle
                                    | For certain services, customers prefer to hire professionals who are
                                    | licensed in their profession. In other cases, licenses are required for the job.

                                .mdc-text-field
                                    input(type="text" id="pre-filled" class="mdc-text-field__input" value="Pre-filled value")
                                    label.mdc-floating-label.mdc-floating-label--float-above(for="pre-filled")
                                        | label in correct place
                                    .mdc-line-ripple

                                .mdc-text-field.usernamee
                                    input#pw.mdc-text-field__input(type = "password" minlength = 8)
                                    label.mdc-floating-label.passworde(for = "pw") Пароль
                                    .mdc-line-ripple
                                button.foo-button.mdc-button Button
                                label.mdc-text-field
                                    input.mdc-text-field__input(type='text')
                                    span.mdc-floating-label Hint Text
                                    .mdc-text-field__bottom-line

                                .mdc-text-field.text-field.mdc-ripple-upgraded
                                    input(type="text")#my-text-field2.mdc-text-field__input
                                    label(for="my-text-field2").mdc-floating-label Hint text
                                    .mdc-line-ripple

                                form(action="#").mt-48
                                    .input-wrap
                                        .mdc-select.mdc-select--outlined
                                            i.mdc-select__dropdown-icon
                                            select.mdc-select__native-control.mdc-select__menu
                                                option(value="vegetables") Vegetables
                                                option(value="fruit") Fruit
                                            label.mdc-floating-label.mdc-floating-label--float-above Label
                                    .mdc-line-ripple
                                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Add
                                        button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent Add


                                    .input-wrap
                                        label.l-name License number
                                        input.prof-input.credentials-input(type="text" name="license-number" maxlength="7" required)

                                    .input-wrap
                                        label.l-name State
                                        input.prof-input.credentials-input(type="text" name="state" maxlength="40" required)

                                    .input-wrap
                                        label.l-name Expires
                                        input.prof-input.credentials-input(type="text" name="expires" maxlength="10" required)
                                    .cont-right-add
                                        button.mdc-button.mdc-button--raised.btn-width ADD
                            .col-12.col-xl-6.you
                                h3.title3
                                    | Your Certificates
                                p.subtitle
                                    | For certain services, customers prefer to hire professionals who are
                                    | licensed in their profession. In other cases, licenses are required for the job.
                                .certified.mt-48
                                    .card-title
                                        h3.title33
                                            | Certified Public Accountant
                                        img.cursor.arrow-down-width(src="src/img/arrow-down.svg", alt="")
                                    .card-info
                                        span 00000
                                        span yyyyy
                                        span 1.2.3
                                    .card-delete
                                        span.card-delete__span Delete

            include ../modules/footer
        script(src="main.bundle.js")
