html(lang="en")
    head
        script.
            var calcFontSize = function () {
                var dWidth = window.innerWidth;
                var fontSize;
                if (dWidth > 1024) {
                    fontSize = dWidth / 1440;
                }
                else if (window.innerHeight > window.innerWidth) {
                    fontSize = (dWidth / 375) * (window.innerWidth / window.innerHeight < 0.72 ? 1 : 0.8);
                }
                else {
                    fontSize = dWidth / 667 * (window.innerHeight / window.innerWidth < 0.72 ? 1 : 0.8);
                }
                document.getElementsByTagName('html')[0].style.fontSize = '' + fontSize + 'rem';
            };
            calcFontSize();
        window.onresize = calcFontSize;
        title Step 1
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="css/style.css")
    body
        .container-fluid.flex-parent
            include ../modules/header
            .row.flex-content
                .step1.col-xl-10.offset-xl-1.col-lg-12.offset-lg-0
                    .row.padding-18
                        .step1__desc.col-md-6.col-12.order-md-1.order-2
                            .step-desc-wrap
                                h1.title1
                                    | Now, it's time to make a great personal profile
                                p.subtitle
                                    | Customers compare professionals and are looking for an exact match of their needs before
                                    | deciding whom to hire. Make sure your profile stands out.
                                ul.nav-ul.step1_nav
                                    li.nav-ul__item.step1_item
                                        a.item__link.item__link_active
                                            | 1. Make an outstanding profile
                                    li.nav-ul__item.item.step1_item
                                        a.item__link.link
                                            | 2. Select what you do best and your service price for that
                                    li.nav-ul__item.item.step1_item
                                        a.item__link.link
                                            | 3. Payment details

                        .step1__image.col-md-6.col-12.order-md-2.order-1
                            img.step1-logo(src="src/img/step1-logo.svg", alt="")

    include ../modules/footer
        script(src="main.bundle.js")