html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(href="credentials.html") credentials
        br
        a(href="index.html") step1
        br
        a(href="individual.html") individual
        br
        a(href="introduction.html") introduction
        br
        a(href="payment1.html") payment1
        br
        a(href="payment2.html") payment2
        br
        a(href="profile.html") profile
        br
        a(href="reviwes.html") reviwes
        br
        a(href="service.html") service
        br
        a(href="step2.html") step2
        br
        a(href="step3.html") step3