html(lang="en")
  head
    script.
      var calcFontSize = function () {
        var dWidth = window.innerWidth;
        var fontSize;
        if( dWidth > 1024) {
          fontSize = dWidth/1440;
        }
       else if (window.innerHeight > window.innerWidth) {
          fontSize = (dWidth/375) * (window.innerWidth/window.innerHeight < 0.72 ? 1 : 0.8);
        }
        else {
          fontSize = dWidth/667 * (window.innerHeight/window.innerWidth < 0.72 ? 1 : 0.8);
        }
        document.getElementsByTagName('html')[0].style.fontSize = '' + fontSize + 'rem';
     };
     calcFontSize();
     window.onresize = calcFontSize;
    title Reviwes
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="plugins/bootstrap/dist/css/bootstrap.css")
  body
    .container-fluid.flex-parent
      include modules/header

      .row.margin-fixed.flex-content

        .col-xl-4.col-lg-5.col-md-6.col-12.left-bar
          .left-padding
            .left-bar__cont-width
              h1.title
                | Ask past customers for reviews
              p.subtitle
                | Reviews are very important. They show new customers how excited people are about working with you.

        .col-xl-6.col-lg-5.col-md-6.col-12.right-bar.offset-md-0.offset-lg-1
          .right-padding
            .row
              .col-xl-6.col-12
                h3.title3
                  | Send invite in email
                p.subtitle
                  | You can send up to 10 messages to ask for reviews from past customers
                .input-box
                  form#form
                    input.input-box__elem(type="email" name="email" placeholder="Your email" label="ADD" minlength="5" maxlength="40")
                    input.input-box__submit(type="submit" label="submit" value="ADD")
                    span.reviwes-l customer email
                .mails-cont
                  .your-lang.reviewe-emails
                    span someemail@gmail.com
                  .your-lang.reviewe-emails
                    span some@gmail.com
                  .your-lang.reviewe-emails
                    span someemail434f4@gmail.com
              .col-xl-6.col-12.margin-32__1024
                h3.title3
                  | Use the link in order to invite people
                p.subtitle
                  | Copy link with the button and send your customers for the reviwes
                .input-box
                  form#form
                    input.input-box__elem(type="email" name="email" placeholder="Your email" label="COPY" minlength="5" maxlength="40")
                    input.input-box__submit(type="submit" label="submit" value="COPY")
                    span.reviwes-l customer email
                ul.social
                  li.social-item.social-item1
                  li.social-item.social-item2
                  li.social-item.social-item3
            .row
              .col-12.fideback-wrap
                h3.title3
                  | Email example
                .fideback
                  .logo-block
                    .logo-block-img
                      img(src="img/fideback-logo.png", alt="").fideback-img
                  h4.title4
                    | Dorothy Puscas
                  p.description.text-center
                    | Thanks for being a valued customer. I just signed up on Thumbtack to find 
                    | more excellent customers like you, and reviews are a big part of my profile. 
                    | Can you take a moment to write a couple sentences about working with me? I’d 
                    | love if my future customers could hear about your experience firsthand.
                    br
                    br
                  p.description.margin-16.text-center
                    | Thanks, Dorothy
                  .stars-block
                    h4.title4
                      | So how it was ?
                    ul.stars
                      li.stars-item.stars-item__1
                      li.stars-item.stars-item__1
                      li.stars-item.stars-item__1
                      li.stars-item.stars-item__2
                      li.stars-item.stars-item__3
                      
                    
      include modules/footer1

    script(type="text/javascript" src="plugins/jquery/dist/jquery.min.js")
    script(type="text/javascript" src="plugins/bootstrap/dist/js/bootstrap.min.js") 
    script(type="text/javascript" src="js/script.js")