.mt-48 {
  margin-top: 3.4286rem;
}
.certified {
  border-radius: 5px;
  max-width: 22.4286rem;
  box-shadow: 0 5px 1.0714em -5px rgba(41, 47, 66, 0.2);
}
.card-title {
  padding: 1.7143rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-info, .card-delete {
  padding: 1.7143rem;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  color: #848a96;
}
.card-info {
  justify-content: space-between;
  border-top: 1px dashed #e7e8ea;
  border-bottom: 1px dashed #e7e8ea;
}
.card-delete {
  justify-content: flex-end;
  &__span {
    margin-right: -3px;
  }
}
select {
  cursor: pointer;
}
.credentials-input {
  width: 100%;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.arrow-select {
  position: absolute;
  top: 1.471rem;
  right: 1.7143rem;
  pointer-events: none;
  z-index: 9;
  width: 0.8571rem;
}
.arrow-down-width {
  width: 0.8571rem;
}
.cont-right-add {
  max-width: 22.4286rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.title33 {
  font-size: 1rem;
  color: #292f42;
  font-weight: 500;
}