/* скрываем все инпуты, чтобы все выглядело красиво */
.drop-down
{
  display: none;
}
/* стилизуем стандартный текст лейбела(желательно смотреть этот стиль после .items) */
#text
{
  position: absolute;
  display: block;
  top: 0;
  height: 3.4286rem;
  width: 100%;
  line-height: 1.9rem;
  padding: 0.8571em 1.7143rem;
}
/* Задаем параметры нашего селекта - ширину, высоту и line-height(для центрирования текста по вертикали;этот парметр меньше ширины на 4px, т.к. в нашем блоке есть border размером в 2px со всех сторон) */
.select
{
  margin-bottom: 1.7143rem;
  display: inline-block;
  width: 100%;
  height: 3.4286rem;
  line-height: 1.9rem;
  position: relative;
}
/* Это наша стрелочка, показывающая, что селект можно раскрыть */
.select:before
{
  content: "";
  background-image: url('../img/arrow-down.svg');
  background-repeat: no-repeat;
  width: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  cursor: pointer;
}
/* Если ничего не выбрано, то наш изначальный текст черного цвета, как и должно быть */
.select input[name="list"]:not(:checked) ~ #text
{
  color: black;
  background: white;
}
/* Если же что-то выбрано, то наш текст становится невидимым и встает сверху выбранного параметра, чтобы при клике на него можно было заного открыть селект, что не было реализовано прошлым автором */
.select input[name="list"]:checked ~ #text
{
  background: transparent;
  color: transparent;
  z-index: 2;
}
/* Стилизация выключенного селекта */
#select:disabled ~ .items #text
{
  background: #eee;
}
/* Стилизация блока с опциями. min-height сделана для фикса высоты при абсолютном позиционировании, overflow же сделан для фиксированной высоты(см. ниже) */
.items
{
  display: block;
  border-radius: 5px;
  position: absolute;
  border: 1px solid #ccc;
  overflow: hidden;
  width: 100%;
  cursor: pointer;
}
/* Если наш селект закрыт, то он имеет высоту 30px(сделано для того, чтобы слишком большие надписи не растягивали его в высоту)  */
#select:not(:checked) ~ .items
{
  height: 3.4286rem;
  width: 100%;
  border-radius: 5px;
}
/* Все лейбелы(названия опций) изначально скрыты */
.items label
{
  border-radius: 5px;
  display: none;
  padding: 0.8571em 1.7143rem;
  background: white;
}
/* Тут много объяснять не надо - просто выделение при наведении */
.items label:hover
{
  background: #eee;
  cursor: pointer;
}
/* Опять же фикс из-за абсолютного позиционирования */
#select:checked ~ .items
{
  padding-top: 47px;
  z-index: 999;
}
/* Если наш селект открыт, то надо сделать все опции видимыми */
#select:checked ~ .items label
{
  display: block;
}
/* Если какая-либо опция была выбрана, то сделать ее видимой(при выборе селект автоматически закроется) */
.items input:checked + label
{
  display: block!important;
  border: none;
  background: white;
}
/* При открытии селекта создать подложку во весь экран, при клике на которую селект закроется, а значение останется пустым. background сделан для наглядности */
#select:checked ~ .bg
{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

.demo-width-class {
  width: 400px;
}
.mdc-select {
  width: 100%;
}
.mdc-text-field__input {
  height: 48px;
}