.taxreturn-wrap {
  margin: 2.2857rem 0;
}
.taxreturn-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-top: 1.1429rem;
  padding: 1.1429rem 	1.7143rem;
  color: #292f42;
  font-weight: 500;
  span {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  &__active {
    border-radius: 5px;
    box-shadow: 0 20px 30px -5px rgba(41, 47, 66, 0.1);
    background-color: #fefefe;
    span {
      opacity: 1;
    }
  }
}
.search-ind {
  text-transform: uppercase;
  max-width: 18rem;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 0.8571rem 2.2857rem;
  font-size: 0.8571rem;
  font-weight: 600;
  // line-height: 2.23rem;
  letter-spacing: 0.3px;
  text-align: center;
  color: #292f42;
  opacity: 0.5;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus::-webkit-input-placeholder {color: transparent};
  &:focus::-moz-placeholder          {color: transparent};
  &:focus:-moz-placeholder           {color: transparent};
  &:focus:-ms-input-placeholder      {color: transparent};
}

.title3__individual {
  margin-top: 2.2857rem;
}
.green-div {
  height: 0.2143rem;
  width: 6.7857rem;
  background-color: #86be26;
  margin: 1.1429rem 0;
}

.individual-checkbox {
  top: 0.2857rem;
  position: absolute;
}
.individual-label {
  position: relative;
  top: 0.1429rem;
  margin-right: 1.2857rem;
  opacity: 0.5;
  font-size: 1.15rem;
  font-weight: 500;
  color: #292f42;
  &__active {
    opacity: 1;
  }
}

.mdc-wrap {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 0.2rem;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}