.mention {
  padding-left: 1.7143rem;
  margin-top: 4rem;
  border-left: 0.1429rem solid #86be26;
  ul {
    li {
      list-style-type: none;
      font-size: 1rem;
      line-height: 1.9rem;
      color: #848a96;
      &:before {
        content: '\2022';
        margin: 0 1.2857rem 0 0.2143rem;
        color: #707070;
        font-size: 1.5rem;
        position: relative;
        top: 0.1429rem;
      }
    }
  }
}
.description {
  margin-top: 1.7143rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.9rem;
  color: #292f42;
  opacity: 0.5;
}
.input-textarea {
  position: relative;
}
textarea {
  padding: 0.8571rem 1.7143rem;
  border-radius: 5px;
  background-color: #ffffff;
}
.calc-characters {
  position: absolute;
  bottom: 0.8571rem;
  right: 1.7143rem;
  opacity: 0.2;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: right;
  color: #292f42;
}

.btn-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mdc-button {
  font-weight: 600;
  color: #86be26;
}
.arrow-right-green {
  margin-left: 1.7143rem;
}

.wrap-56 {
  margin-top: 4rem;
}
.l-name-textarea {
  margin-bottom: 0.1429rem;
  position: static;
}