.password {
  background-color: #292f42;
  border-radius: 5px;
  padding: 1.1429rem 2.8571rem;
  color: white;
  font-size: 1rem;
  position: absolute;
  top: 0;
  right: -433px;
  z-index: 123;
  &:before {
    content: '';
    position: absolute;
    left: -8px;
    top: 25px;
    border: 8px solid #292f42;
    transform: rotate(45deg);
  }
}
.password-subtitle {
  margin-top: 1.2rem;
  list-style: none;
  li {
    margin-bottom: 0.2rem;
    color: white;
  }
}