.inputs-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 22.3571rem;
}

.input-left {
  width: 100%;
  max-width: 12.8571rem;
  float: left;
}
.input-right {
  width: 100%;
  max-width: 12.8571rem;
  float: right;
  margin-left: 2.2857rem;
}


.visa {
  margin-top: 3.4286rem;
  width: 100%;
  max-width: 22.3571rem;
  height: 12.1429rem;
  padding: 1.7143rem;
  border-radius: 5px;
  background-color: #86be26;
  &-top {
    display: flex;
    justify-content: space-between;
  }
  &-center {
    display: flex;
    margin-top: 2.9286rem;
    justify-content: space-between;
  }
  &-bottom {
    display: flex;
    justify-content: space-between;
  }
}
.top-name {
  color: white;
  font-weight: 600;
  text-transform: uppercase;
}
.top-burger {
  height: 1rem;
}
.center-number {
  color: #fefefe;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0.3px;
}
.visa-bottom {
  margin-top: 1.1429rem;
}
.name-top {
  opacity: 0.6;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
}
.name-bottom {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  color: white;
}
.visa-next {
  border-radius: 5px;
  background-color: #dcdee2;
  padding: 1.7143rem;
  margin-top: 1.1429rem;
  width: 100%;
  max-width: 22.3571rem;
}
.elem1, .elem2, .elem3 {
  display: inline-block;
}
.elem2 {
  margin-left: 1.7143rem;
  color: rgb(94, 94, 94);
}
.elem3 {
  float: right;
  position: relative;
}


.btn-add-wrap {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 1.0714rem;
}
.btn__add {
  line-height: normal;
  border: none;
  color: #fdfdfd;
  background-color: #86be26;
  margin-left: 0;
}