.input-box {
  width: 100%;
  position: relative;
  height: 3.4286rem;
  margin-top: 3.4286rem;
}
.input-box__elem {
  width: 100%;
  height: 100%;
  font-size: 1rem;
  padding: 1.0714rem 25px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-weight: 500;
  font-family: 'Work Sans', sans-serif;
  color: #292f42;
  &::placeholder {
    opacity: 0.5;
  }
  &:focus {
    border: 1px solid #C4E58B;
    border-radius: 5px;
    outline: none;
  }
}
.input-box__submit {
  position: absolute;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.3;
  width: 5.7143rem;
  height: 100%;
  border: none;
  top: 0;
  right: 0;
  color: #fdfdfd;
  cursor: pointer;
  background-color: #86BE26;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  &:hover {
    background-color: #9DD241;
  }
  &:active {
    background-color: #7DB124;
  }
}
.reviwes-l {
  position: absolute;
  top: -1.2143rem;
  left: 1.7143rem;
  color: #292f42;
  opacity: 0.6;
  font-weight: 500;
}

.mails-cont {
  display: flex;
  flex-wrap: wrap;
}
.reviewe-emails {
  width: auto;
  padding: 0 0.5714rem;
  margin: 0.5714rem 0.5714rem 0 0;
  font-size: 0.9rem;
}

.social {
  margin-top: 1.1429rem;
  list-style: none;
  display: inline-block;
}
.social-item {
  height: 2.8571rem;
  width: 2.8571rem;
  margin-right: 1.7857rem;
  background: url('../img/sprite-links.svg');
  background-size: 13.8571rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}
.social-item1 {
  background-position: 0 2.9rem;
  &:hover {
    background-position: 0 0;
  }
}
.social-item2 {
  background-position: 8.3571rem 2.9rem;
  &:hover {
    background-position: 8.3571rem 0;
  }
}
.social-item3 {
  background-position: 2.9rem 2.9rem;
  &:hover {
    background-position: 2.9rem 0;
  }
}

.fideback-wrap {
  margin-top: 4rem;
}
.fideback {
  margin-top: 1.7143rem;
  padding: 2.2857rem;
  box-shadow: 0 20px 30px -5px rgba(41, 47, 66, 0.1);
  background-color: #fefefe;
  border-radius: 5px;
  &-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    display: block;
    margin: 0 auto 0.5714rem auto;
  }
}
.logo-block {
  height: 4rem;
  width: 4rem;
  margin: 0 auto;
  margin-bottom: 	0.5714rem;
  &-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
  }
}
.fideback-img {
  height: 100%;
  width: 100%;
}
.title4 {
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 0.3px;
  text-align: center;
  color: #292f42;
  margin-bottom: 0.5714rem;
}
.margin-16 {
  margin: 1.1429rem 0;
}
.text-center {
  text-align: center;
}
.stars-block {
  margin: 0 auto;
  margin-top: 1.1429rem;
  img {
    display: inline-block;
    height: 1.2143rem;
    width: 1.1429rem;
    margin: 0 0.2143rem;
  }
}
.stars {
  list-style: none;
  text-align: center;
}
.stars-item {
  background: url('../img/sprite-stars.svg');
  background-repeat: no-repeat;
  background-size: 5.3571rem;
  height: 1.2143rem;
  width: 1.6429rem;
  display: inline-block;
  cursor: pointer;
  &__1 {
    background-position: 0 0;
  }
  &__2 {
    background-position: -1.9286rem 0;
  }
  &__3 {
    background-position: -3.8571rem 0;
  }
}