.password
  span.password-title Password should
  ul.password-subtitle
    li - be at last 10 characters
    li - be at last 10 characters kjhgjhbjh kjbbjn kbn
    li - be at last 10 characters
    li - be at last 10 characters mkhgh hjijk jnh