.row
  footer.footer
    .col-12.cont-right
      .btn-block
        a.text-decoration-none.m-right-32(href="#")
          button.mdc-button.btn-grey TEXT
        a.text-decoration-none(href="#")
          button.mdc-button.mdc-button--raised NEXT