/* theme variables need to be loaded before any mdc component */
$mdc-theme-primary: rgb(236, 18, 36);
$mdc-theme-on-primary: rgb(238, 245, 238);
$mdc-theme-secondary: rgb(62, 78, 214);
$mdc-theme-on-secondary: #442C2E;
$mdc-theme-surface: #FFFBFA;
$mdc-theme-on-surface: #442C2E;
$mdc-theme-background: rgb(247, 244, 244);
$mdc-theme-on-background: rgb(230, 40, 56);
