@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";

.login-title {
  @include mdc-typography(headline4);
  color: $mdc-theme-on-surface;
  text-align: center;
}

.login-subtitle {
  @include mdc-typography(subtitle1);
  color: $mdc-theme-on-surface;
  text-align: center;
}

.mdc-text-field {
  display: flex;
  width: 300px;
  margin: 20px auto;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  margin: auto;
}

.button-container button {
  margin: 3px;
}

.login-change-container {
  text-align: center;
  margin-top: 24px;
}
